@use '/src/scss/abstracts' as *;
@use '/src/scss/base' as *;

.nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: flex-end;
  padding: toRem(20px);
  background-color: rgba(40, 40, 40, 0.95);
}

.navList {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  color: #fafafa;

  @include respond-below(sm) {
    & > * {
      display: none;
    }
  }

  & > * {
    &:not(:first-child) {
      margin-left: toRem(20px);
    }
  }
}

.mobileNav {
  height: toRem(20px);

  @include respond-above(sm) {
    display: none;
  }

  &__line {
    height: toRem(4px);
    border-radius: toRem(6px);
    width: toRem(26px);
    background-color: #333;

    &:not(:last-child) {
      margin-bottom: toRem(4px);
    }
  }
}

.link {
  @extend %link-styles;
}
